{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".ios.js", ".android.js", ".js", ".ts", ".tsx", ".json"],
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@navigation": "./src/navigation",
          "@typings": "./src/typings",
          "@styles": "./src/styles",
          "@assets": "./src/assets",
          "@helper": "./src/helper",
          "@hooks": "./src/hooks",
          "@redux": "./src/redux",
          "@store": "./src/store",
          "@rootReducer": "./src/rootReducer",
          "@config": "./src/config",
          "@utils": "./src/utils",
          "@services": "./src/services"
        }
      }
    ]
  ]
}
